.about {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 8%;
  padding: 1rem;
  transition: 0.3s;
  width: 40%;
  border: none;
}

.header {
  text-align: center;
}

.facts {
  font-size: 1.2rem;
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .about {
    width: 90%;
    margin-bottom: 10%;
  }
}
